html, body {
  height: 100%;
}

.link {
  text-decoration: none;
}

.App {
  background: #000000;
}

.active {
  color: #FF7A00;
}

/* register login*/

.landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #ffffff;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.landing-welcome {
  justify-self: flex-end;
  margin-right: 100px;

}

.landing-welcome img {
  display: block;
  margin-bottom: 61px;
}

.button {
  cursor: pointer;
  display: block;
  padding: 13px 40px;
  background: #FF7A00;
  border-radius: 5px;
  border: none;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.landing-form {
  margin-left: 100px;
  justify-self: flex-start;
  background: #161616;
  border-radius: 10px;
  width: 416px;
  padding: 20px 33px 44px 33px;
  box-sizing: border-box;
  height: fit-content;
}

.landing-form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 16px;
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #BCBCBC;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
}

.landing-form textarea {
  font-family: Avenir, sans-serif;
  display: block;
  width: 100%;
  height: 122px;
  margin-bottom: 20px;
  padding: 16px;
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #BCBCBC;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
}

.landing-form input:focus, .landing-form textarea:focus {
  color: #ffffff;
  outline: none;
  box-shadow: 0 0 3px 1px #FF7A00;
  border: 2px solid #FF7A00;
}

.landing-form button {
  width: 100%;
}

/* end register login */

.wrapper {
  display: grid;
  grid-template-columns: 259px 1fr;
  height: 100vh;
}


/* sidebar */

.sidebar {
  padding: 40px;
  background: #151515;
}

.sidebar-logo {
  margin-bottom: 30px;
}

.sidebar-list {
  color: #ffffff;
  list-style-type: none;
  padding-left: 0;
}

.sidebar-list-item {
  margin-bottom: 28px;
}

.sidebar-link {
  display: flex;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.sidebar-link img {
  margin-right: 20px;
}

.sidebar-list-title {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 101.5%;
  /* or 24px */
  color: #FF7A00;
  margin-bottom: 25px;
}

.sidebar-photo-profile {
  width: 30px;
  height: 30px;
}

.sidebar-username {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width:auto;
  min-width:100px;
  max-width:65%;
  white-space:nowrap;
}

.show-more {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 101.5%;
  color: #FFFFFF;
  background: none;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  cursor: pointer;
}

/* end sidebar */



/* navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
 
}


.search-bar input {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px;
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #BCBCBC;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
}

.search-bar input:focus {
  color: #ffffff;
  outline: none;
  box-shadow: 0 0 3px 1px #FF7A00;
  border: 2px solid #FF7A00;
}

.navbar-menu {
  justify-self: end;
}

.navbar-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 0;
}

.navbar-menu-item:first-child {
  margin-right: 60px;
}

.navbar-menu-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-menu-link span {
  color: #ffffff;
  margin-left: 10px;
}

/* end navbar */

/* card */
.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.card {
  
}

.card-thumbnail {
  width: 100%;
  object-fit: cover;
}

.card-title {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  /* or 14px */
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-username {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 101.5%;
  /* or 12px */
  color: #555555;
  margin-bottom: 5px;
}

.card span {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 101.5%;
  /* or 12px */
  color: #555555;
  margin-right: 20px;
}
/* end card */